<div class="panel panel-default" data-id="<%= to_do.id %>">
  <p class="todo"><%= to_do.task_name %>
    <%= to_do.due_on %>
    <%= to_do.priority %>
    <div id="completed-div">
      <%= check_box_tag 'completed', to_do.completed %>
    </div>
    <%= link_to 'Show', to_do %>
    <%= link_to 'Edit', edit_to_do_path(to_do) %>
    <%= link_to 'Destroy', to_do, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
</div>
