<p id="notice"><%= notice %></p>

<h1>Listing To Dos</h1>

  <div class="sortable">
      <% @to_dos.each do |to_do| %>
        <div>
          <p><%= to_do.task_name %>
          <%= to_do.due_on %>
          <%= to_do.priority %>
          <%= to_do.completed %>
          <%= link_to 'Show', to_do %>
          <%= link_to 'Edit', edit_to_do_path(to_do) %>
          <%= link_to 'Destroy', to_do, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      <% end %>
  </div>

<br>

<%= link_to 'New To do', new_to_do_path %>
